# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
data/raw/*
data/processed/*

# Logs
*.log

# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# Other files
*.DS_Store  # macOS specific
